# TOPIC: String Based Assignment Problem

Q1. Write a program to reverse a string.

In [67]:
string ="pwskills"
y = (string [::-1])
print(y)

sllikswp

Q2. 2. Check if a string is a palindrome.

In [40]:
palindrome = str(input("Enter the string :"))
num = (palindrome[::-1])
if num == palindrome:
    print("string is palindrome")
    
else:
    print("string is not a palindrome")

Enter the string :malayalam
string is palindrome

Q3. Convert a string to uppercase.

In [46]:
a = "i am rabia naz"
print(a.upper())

I AM RABIA NAZ

Q4. Convert a string to lowercase.

In [47]:
a = "I LIKE PW SKILLS"
print(a.lower())

i like pw skills

Q5. Count the number of vowels in a string.

In [100]:
x = "Hi I am Rabia Naz "
count = 0
for word in x:
    if word == "A" or word == "E" or word == "I" or word == "O" or word =="U" or word =="a" or word =="e" or word == "i" or word =="o" or word =="u":
        count += 1
print("Number of vowel :",count)

Number of vowel : 7

Q6. Count the number of consonants in a string.

In [12]:
x = "Hello How Are You I Am Fine "
count = 0    
for char in x:
      if char != "A" or char != "E" or char != "I" or char != "O" or char != "U" or char != "a" or char != "e" or char != "i" or char != "o" or char != "u":     
        count +=1
print("Number of consonant is :" ,count)

Number of consonant is : 28

Q7. Remove all whitespaces from a string.

In [118]:
x = "i am happyy to join pw skills"
print(x.replace(" ",""))

iamhappyytojoinpwskills

Q8. Find the length of a string without using the `len()` function.

In [133]:
x = "what you wanna be"
count =0
for char in x:
    count +=1
print("length of string is ", count)

length of string is  17

Q9. Check if a string contains a specific word.

In [163]:
x = "pw skills and ineuron working on same plateform"
word = "ineuron"
if word in x:
    print("yes string contain ineuron")
else:
    print("no")

yes string contain ineuron

Q10. Replace a word in a string with another word.

In [162]:
x = "what are you looking for?"
y = "searching"
z = (x[13:20])
print(x.replace(z , y ))

what are you searching for?

Q11. Count the occurrences of a word in a string.

In [24]:
x = "pw skills ia good study plateform ,pw skills  based on online study programme ,pw skills and ineuron works together"
word = "pw skills"
count =x.count(word)
print(count)

3

Q12. Find the first occurrence of a word in a string.

In [65]:
s = "well i am at my home"
x = (s[0:5:+1])
print(x)

well
well

Q13. Find the last occurrence of a word in a string.

In [143]:
 s = "PWKILLS IS A WELL KNOWN STUDY PLATEFORM"
x = len(s)
print(x.s.split[-1::-1])

PLATEFORM

Q14. Split a string into a list of words.

In [117]:
s = "pwskills ineuron study online courses"
print(s.split(" "))

['pwskills', 'ineuron', 'study', 'online', 'courses']

15. Join a list of words into a string.

In [127]:
s = ['pwskills', 'ineuron', 'study', 'online', 'courses']
print(' ' .join(s))

pwskills ineuron study online courses

Q16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [32]:
s = "i am rabia naz "
x = (s.replace( " " ,'_'))
print(x)

i_am_rabia_naz_

Q17. Check if a string starts with a specific word or phrase.

In [44]:
string = "hey how are you"
x = string.startswith("hey")
print(x)

True

Q18. Check if a string ends with a specific word or phrase.

In [45]:
string = "hey how are you"
x = string.endswith(" you")
print(x)

True

 Q19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [20]:
 s ="hello world"
print(s.upper())

HELLO WORLD

 Q 20. Find the longest word in a string.

In [86]:
s =" happy","sad","awesome","awesome","extraordinary ,overwhelming,"
print(max(s,key=len))

extraordinary ,overwhelming,

21. Find the shortest word in a string.

In [84]:
string = "i am rabia naz "
print(min(string,key=len))

i

22. Reverse the order of words in a string.

In [38]:
string = "pwskills"
print(string[::-1])

sllikswp

23. Check if a string is alphanumeric.

In [19]:
text = "123rabianaz"
if text.isalnum():
    print("string is alphanumeric")
else:
    print("string is not alphanumeric")

string is alphanumeric

Q24. Extract all digits from a string.

In [18]:
a:str = "djkashkjhfifhofeo373437bbdg6x2e7ibhi12et27e52ervsxyo98628e3x6"
alphabet = "a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z"
b = " "
for i in a:
    if i not in alphabet:
        b +=i
print(b)

 3734376271227529862836

Q25.Extract all alphabets from a string.

In [15]:
a:str = "sdfggfgy677hg558hgy9754fgh0886"
numbers = "1234567890"
b = " "
for i in a:
    if i not in numbers:
        b +=i
print(b)

 sdfggfgyhghgyfgh

Q26. Count the uppercase letters in a string.

In [6]:
def string_test(s):
    d={"UPPER_CASE":0}
    for c in s:
        if c.isupper():
            d["UPPER_CASE"]+=1
        else:
            pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", d["UPPER_CASE"])
    
string_test('ASSDkkjiAERYUhhUHUHBHiuiouhguugfyytTdryytCTTF')

Original String :  ASSDkkjiAERYUhhUHUHBHiuiouhguugfyytTdryytCTTF
No. of Upper case characters :  20

Q27.Count the number of lowercase letters in a string.

In [4]:
def string_test(s):
    d={"LOWER_CASE":0}
    for c in s:
        if c.islower():
            d["LOWER_CASE"]+=1
        else:
            pass
    print ("Original String : ", s)
    
    print ("No. of Lower case Characters : ", d["LOWER_CASE"])

string_test('ASSDkkji hhUHUHBHiuiouhguugfyytTdryytCTTF')

Original String :  ASSDkkji hhUHUHBHiuiouhguugfyytTdryytCTTF
No. of Lower case Characters :  25

28. Swap the case of each character in a string.

In [7]:
str = "I Am Rabia Naz,I Have Join Pwskills"
x=""
for i in str:
    if(i.isupper()):
        x+=i.lower()
    else:
        x+=i.upper()
print(x)

i aM rABIA nAZ,i hAVE jOIN pWSKILLS

29. Remove a specific word from a string.

In [75]:
def remove_word(input_string, word_to_remove):
    words = input_string.split()  
    filtered_words = [word for word in words if word != word_to_remove]  
    modified_string = ' '.join(filtered_words)  
    return modified_string
input_string = "pwskills,ineuron,working on same path" 
word_to_remove = "ineuron"
result = remove_word(input_string, word_to_remove)
print(result)

pwskills,ineuron,working on same path
pwskills,ineuron,working on same path

30. Check if a string is a valid email address.

In [48]:
import re
regex = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'

def check(email):

    if(re.fullmatch(regex, email)):
        print("Valid Email")

    else:
        print("Invalid Email")

if __name__ == '__main__':

    email = "rabianaz123@gmail.com"
    check(email)

    email = "pwskill+-001@gmail.com"
    check(email)

    email = "ineuron326.com"
    check(email)

Valid Email
Valid Email
Invalid Email

31.Extract the username from an email address string.

In [73]:
test_str = 'rabianaz123@nazgirl.com'
print("The original string is : " ,(test_str))
res = test_str [0 : test_str.index('@')]
print("The extracted user name : " ,(res))

The original string is :  rabianaz123@nazgirl.com
The extracted user name :  rabianaz123

32. Extract the domain name from an email address string.

In [55]:

test_str = 'manjeet@geeksforgeeks.com'

print("The original string is : " , (test_str))

res = test_str[test_str.index('@') + 1 : ]

print("The extracted domain name : " ,(res))

The original string is :  manjeet@geeksforgeeks.com
The extracted domain name :  geeksforgeeks.com

33. Replace multiple spaces in a string with a single space.

In [76]:
import re
my_str = "sug huhg    ugyu j iu isk kgui  uiyieg i"
result = re.sub(r'\s+', ' ', my_str)
print(repr(result))

'sug huhg ugyu j iu isk kgui uiyieg i'

34. Check if a string is a valid URL.

In [97]:
import re
regex = re.compile(
        r'^(?:http|ftp)s?://' # http:// or https://
        r'(?:(?:[A-Z0-9](?:[A-Z0-9-]{0,61}[A-Z0-9])?\.)+(?:[A-Z]{2,6}\.?|[A-Z0-9-]{2,}\.?)|' #domain...
        r'localhost|' #localhost...
        r'\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})' # ...or ip
        r'(?::\d+)?' # optional port
        r'(?:/?|[/?]\S+)$', re.IGNORECASE)

print(re.match(regex, "http://www.example.com") is not None) # True
print(re.match(regex, "example.com") is not None)            # False

True
False

35. Extract the protocol (http or https) from a URL string.

In [83]:
test_url = "https://www.example.com"
print("The original URL is : " ,(test_url))
res = test_url [0 : test_url.index(':')]
print("The extracted URL : " ,(res))

The original URL is :  https://www.example.com
The extracted URL :  https

36. Find the frequency of each character in a string.

In [88]:
test_str = "rabianazz"

all_freq = {}

for i in test_str:
    if i in all_freq:
        all_freq[i] += 1
    else:
        all_freq[i] = 1
print("Count of all characters in rabianazz is :\n "  ,(all_freq))

Count of all characters in rabianazz is :
  {'r': 1, 'a': 3, 'b': 1, 'i': 1, 'n': 1, 'z': 2}

37. Remove all punctuation from a string.

In [118]:
import string
test_str = "RABIA ;'?/NAZ ,..;'LIVE. //;AT ;"

print("The original string is : " + test_str)

for punctuation in string.punctuation:
    test_str = test_str.replace(punctuation, '')

print("The string after removing punctuation  : " + test_str)

The original string is : RABIA ;'?/NAZ ,..;'LIVE. //;AT ;
The string after removing punctuation  : RABIA NAZ LIVE AT

Q 38.Check if a string contains only digits.

In [123]:
string1 = "12367746767815572657125576"
string2 = "abc122311hhjjh234424312vvjvh"
print ('initial string :',string1,string2) 
if string1.isdigit():
    print("string1 contains only digit")
else:
    print("string1 doesn't contains only digit")
if string2.isdigit():
     print("string2 contains only digit")
else:
      print("string2 doesn't contains only digit")

initial string : 12367746767815572657125576 abc122311hhjjh234424312vvjvh
string1 contains only digit
string2 doesn't contains only digit

Q39.Check if a string contains only alphabets.

In [124]:
string1 = "ABBFKKDBHDBHIHLKBBHJVWVKDJKJVHDVKKKJVDHHKSBKV"
string2 = "abc122311hhjjh234424312vvjvh"
print ('initial string :',string1,string2) 
if string1.isalpha():
    print("string1 contains only alphabet")
else:
    print("string1 doesn't contains only alphabet")
if string2.isalpha():
     print("string2 contains only alphabet")
else:
      print("string2 doesn't contains only alphabet")

initial string : ABBFKKDBHDBHIHLKBBHJVWVKDJKJVHDVKKKJVDHHKSBKV abc122311hhjjh234424312vvjvh
string1 contains only alphabet
string2 doesn't contains only alphabet

Q 40.Convert a string to a list of characters.

In [125]:
string = 'rabianaz123'
lst = []

for letter in string:
    lst.append(letter)

print(lst)

['r', 'a', 'b', 'i', 'a', 'n', 'a', 'z', '1', '2', '3']

Q41. Check if two strings are anagrams.

In [129]:
def is_anagram(a, b):
    sorted_a = sorted(a)
    sorted_b = sorted(b)

    if sorted_a == sorted_b:
        return True
    else:
        return False
if __name__ == "__main__":
    a = "rabianaz2316@#"
    b = "2316@naz#rabia"

if is_anagram(a, b):
        print("YES, They are Anagram")
else:
        print("NO, They are not Anagram")

YES, They are Anagram

Q42. Encode a string using a Caesar cipher.

In [181]:
def encrypt_text(plaintext,n):
    ans = ""

   for i in range(len(plaintext)):
        ch = plaintext[i]
        if ch==" ":
            ans+=" "
    
        elif (ch.isupper()):
            ans += chr((ord(ch) + n-65) % 26 + 65)
        else:
            ans += chr((ord(ch) + n-97) % 26 + 97)
    
    return ans

plaintext = "HELLO EVERYONE"
n = 1
print("Plain Text is : " + plaintext)
print("Shift pattern is : " + str(n))
print("Cipher Text is : " + encrypt_text(plaintext,n))

Plain Text is : HELLO EVERYONE

TypeError: 'str' object is not callable

Q43. Decode a Caesar cipher encoded string.

In [182]:
cryptic_text = "ks gvozz ohhoqy hvsa tfca hvs tfcbh oh bccb cb Tisgrom"

for i in range(0,26):

    plain_text = cipher_decrypt_lower(cryptic_text, i)

    print("For key {}, decrypted text: {}".format(i, plain_text))

For key 0, decrypted text: ks gvozz ohhoqy hvsa tfca hvs tfcbh oh bccb cb Tisgrom
For key 1, decrypted text: jr funyy nggnpx gurz sebz gur sebag ng abba ba Thrfqnl
For key 2, decrypted text: iq etmxx mffmow ftqy rday ftq rdazf mf zaaz az Tgqepmk
For key 3, decrypted text: hp dslww leelnv espx qczx esp qczye le yzzy zy Tfpdolj
For key 4, decrypted text: go crkvv kddkmu drow pbyw dro pbyxd kd xyyx yx Teocnki
For key 5, decrypted text: fn bqjuu jccjlt cqnv oaxv cqn oaxwc jc wxxw xw Tdnbmjh
For key 6, decrypted text: em apitt ibbiks bpmu nzwu bpm nzwvb ib vwwv wv Tcmalig
For key 7, decrypted text: dl zohss haahjr aolt myvt aol myvua ha uvvu vu Tblzkhf
For key 8, decrypted text: ck yngrr gzzgiq znks lxus znk lxutz gz tuut ut Takyjge
For key 9, decrypted text: bj xmfqq fyyfhp ymjr kwtr ymj kwtsy fy stts ts Tzjxifd
For key 10, decrypted text: ai wlepp exxego xliq jvsq xli jvsrx ex rssr sr Tyiwhec
For key 11, decrypted text: zh vkdoo dwwdfn wkhp iurp wkh iurqw dw qrrq rq Txhvgdb
For key 12, decrypted text: yg ujcnn cvvcem vjgo htqo vjg htqpv cv pqqp qp Twgufca
For key 13, decrypted text: xf tibmm buubdl uifn gspn uif gspou bu oppo po Tvftebz
For key 14, decrypted text: we shall attack them from the front at noon on Tuesday
For key 15, decrypted text: vd rgzkk zsszbj sgdl eqnl sgd eqnms zs mnnm nm Ttdrczx
For key 16, decrypted text: uc qfyjj yrryai rfck dpmk rfc dpmlr yr lmml ml Tscqbyw
For key 17, decrypted text: tb pexii xqqxzh qebj colj qeb colkq xq kllk lk Trbpaxv
For key 18, decrypted text: sa odwhh wppwyg pdai bnki pda bnkjp wp jkkj kj Tqaozwu
For key 19, decrypted text: rz ncvgg voovxf oczh amjh ocz amjio vo ijji ji Tpznyvt
For key 20, decrypted text: qy mbuff unnuwe nbyg zlig nby zlihn un hiih ih Toymxus
For key 21, decrypted text: px latee tmmtvd maxf ykhf max ykhgm tm ghhg hg Tnxlwtr
For key 22, decrypted text: ow kzsdd sllsuc lzwe xjge lzw xjgfl sl fggf gf Tmwkvsq
For key 23, decrypted text: nv jyrcc rkkrtb kyvd wifd kyv wifek rk effe fe Tlvjurp
For key 24, decrypted text: mu ixqbb qjjqsa jxuc vhec jxu vhedj qj deed ed Tkuitqo
For key 25, decrypted text: lt hwpaa piiprz iwtb ugdb iwt ugdci pi cddc dc Tjthspn

44. Find the most frequent word in a string.

In [192]:
from statistics import mode

test_list = ["pwskills" ,"is the best","pwskills a study plateform","pwskills mentors works hard"]

print("The original list is : ",test_list)

temp = [wrd for sub in test_list for wrd in sub.split()]

res = mode(temp)

print("Word with maximum frequency : " ,res)

The original list is :  ['pwskills', 'is the best', 'pwskills a study plateform', 'pwskills mentors works hard']
Word with maximum frequency :  pwskills

45. Find all unique words in a string.

In [193]:
my_str = 'one one two two'

unique_words = set(my_str.split())
print(unique_words) 

length = len(unique_words)
print(length)

{'two', 'one'}
2

46. Count the number of syllables in a string.

In [198]:
def count(word):
    new_word = word
    count_syllables = new_word.split('-')
    return len(count_syllables)
print(count("h-o-te-l"))

4

47. Check if a string contains any special characters.

In [199]:
def has_special_char(s):
    for c in s:
        if not (c.isalpha() or c.isdigit() or c == ' '):
            return True
    return False

s = "Hello World"
if has_special_char(s):
    print("The string contains special characters.")
else:
    print("The string does not contain special characters.")

s = "Hello@World"
if has_special_char(s):
    print("The string contains special characters.")
else:
    print("The string does not contain special characters.")

The string does not contain special characters.
The string contains special characters.

Q48.Remove the nth word from a string.

In [200]:
def remove_word(list1, word, n1):
    def generator():
        count = 0
        for i in list1:
            if i != word or (i == word and count != n1):
                yield i
            if i == word:
                count += 1
    return list(generator())

list1 = ["he", "is", "ankit", "is", "raj", "is", "ankit raj"]
word = "is"
n1 = 3

print("New list is :", remove_word(list1, word, n1))

New list is : ['he', 'is', 'ankit', 'is', 'raj', 'is', 'ankit raj']

49. Insert a word at the nth position in a string.

In [212]:
line='Name Age Group Class Profession'
arr = line.split()
for i in range(2):
    arr.insert(2, arr[2])
print(' '.join(arr))

Name Age Group Group Group Class Profession

50. Convert a CSV string to a list of lists.

In [71]:
def csv_string_to_list(csv_string):
    lines = csv_string.split('\n')
    result = []

    for line in lines:
        fields = line.split(',')
        result.append(fields)
    return result
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"
list_of_lists = csv_string_to_list(csv_data)
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']
['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

# List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [2]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [12]:
count = 0
for i in input("Enter a string –"):
    count+=1
print(count)

Enter a string –78367186281
11

3. Append an element to the end of a list.

In [13]:
fruit_list = ["Apple", "Banana"]

print(f'Current Fruits List {fruit_list}')

new_fruit = input("Please enter a fruit name:\n")

fruit_list.append(new_fruit)

print(f'Updated Fruits List {fruit_list}')

Current Fruits List ['Apple', 'Banana']
Please enter a fruit name:
mango
Updated Fruits List ['Apple', 'Banana', 'mango']

4. Insert an element at a specific index in a list.

In [18]:
num_list = [0, 2, 3, 4, 5]

print(f'Current Numbers List {num_list}')

num = int(input("Please enter a number to add to list:\n"))

index = int(input(f'Please enter the index between 0 and {len(num_list) - 1} to add the number:\n'))

num_list.insert(index, num)

print(f'Updated Numbers List {num_list}')

Current Numbers List [0, 2, 3, 4, 5]
Please enter a number to add to list:
1
Please enter the index between 0 and 4 to add the number:
1
Updated Numbers List [0, 1, 2, 3, 4, 5]

5. Remove an element from a list by its value.

In [21]:
programming_languages = ["JavaScript", "Python", "Java", "C++"]

print(programming_languages)

programming_languages.remove("JavaScript")

print(programming_languages)

['JavaScript', 'Python', 'Java', 'C++']
['Python', 'Java', 'C++']

6. Remove an element from a list by its index.

In [52]:
num_list = [0, 1, 2, 3, 4, 5]

print(f'Current Numbers List {num_list}')

num_list.pop(index)

print(f'Updated Numbers List {num_list}')

Current Numbers List [0, 1, 2, 3, 4, 5]
Updated Numbers List [1, 2, 3, 4, 5]

In [33]:
programming_languages = ["Power bi ","JavaScript", "Python", "Java", "C++"]

print(programming_languages)

programming_languages.pop(index)

print(programming_languages)

['Power bi ', 'JavaScript', 'Python', 'Java', 'C++']
['Power bi ', 'JavaScript', 'Python', 'Java']

7. Check if an element exists in a list.

In [42]:
lst= [ 0, 1, 2, 3, 4, 5] 
i = int(input())
if i in lst:
    print("exist")
else:
    print("not exist")

5
exist

8. Find the index of the first occurrence of an element in a list.

In [13]:
names = ["Alice", "Bob", "Charlie"]

names.index("Alice")

0

9. Count the occurrences of an element in a list.

In [14]:
lst= [ 0, 1, 2, 3, 4, 5] 
count =0
for i in lst :
    count+=1
print(count)

6

10. Reverse the order of elements in a list.

In [21]:
lst= [ 0, 1, 2, 3, 4, 5] 
x = lst[::-1]
print(x)

[5, 4, 3, 2, 1, 0]

11. Sort a list in ascending order.

In [52]:
lst_name = [22,745,4,29,2,5,83,61,64,98,399,665,73]
lst_name.sort()
print(lst_name)

[2, 4, 5, 22, 29, 61, 64, 73, 83, 98, 399, 665, 745]

12. Sort a list in descending order.

In [31]:
lst_name = [22,745,4,29,72,5,83,61,64,98,399,665,73]
lst_name.sort(reverse = True)
print(lst_name)

[745, 665, 399, 98, 83, 73, 72, 64, 61, 29, 22, 5, 4]

13. Create a list of even numbers from 1 to 20.

In [38]:
lst=[1,20]
x = [i for i in range(1,20 +1) if i %2 ==0]
print(x)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [46]:
lst=[1,20]
x = [i for i in range(1,20) if i%2!=0]
print(x)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [48]:
lst=[2,4,55,67,87,79,56,46]
sum(lst)

396

16. Find the maximum value in a list.

In [49]:
lst=[2,4,55,67,87,79,56,46]
max(lst)

87

17. Find the minimum value in a list.

In [53]:
lst=[2,4,55,67,87,79,56,46]
min(lst)

2

18. Create a list of squares of numbers from 1 to 10.

In [56]:
lst=[]
for i in range(1,10+1):
    lst.append(i*i)
print(lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [13]:
import random
rand_list = []
n =10
for i in range(n):
    rand_list .append(random.randint(1,30))
print(rand_list)

[20, 24, 16, 28, 23, 29, 22, 5, 10, 9]

20. Remove duplicates from a list.

In [63]:
test_list = [2,4,5,2,5,7,8,4,7,9,2,4]
print("original list is :",test_list)
res=[]
[res.append(x) for x in test_list if x not in res]
print("list after removing duplicates :",res)

original list is : [2, 4, 5, 2, 5, 7, 8, 4, 7, 9, 2, 4]
list after removing duplicates : [2, 4, 5, 7, 8, 9]

21. Find the common elements between two lists.

In [15]:
def common_member(a, b):
    a_set = set(a)
    b_set = set(b)

    if (a_set & b_set):
        print(a_set & b_set)
    else:
        print("No common elements")
a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
common_member(a, b)

{5}

22. Find the difference between two lists.

In [27]:
list_a = [1,2,3,4,5]
list_b = [6,7,8,9,10]
difference = list(set(list_a) -set(list_b))
print(difference)

[1, 2, 3, 4, 5]

23. Merge two lists.

In [28]:
test_list1 = [1, 4, 5, 6, 5]
test_list2 = [3, 5, 7, 2, 5]
for i in test_list2 :
    test_list1.append(i)
print ("Concatenated list using naive method : ",(test_list1))

Concatenated list using naive method :  [1, 4, 5, 6, 5, 3, 5, 7, 2, 5]

24. Multiply all elements in a list by 2.

In [45]:
lst = [2,4,5,6,7,8]
multiply_lst =[x*2 for x in lst]
print(multiply_lst)

[4, 8, 10, 12, 14, 16]

25. Filter out all even numbers from a list.

In [50]:
lst =[2,4,67,87,54,32,56,677,87,43,76,79,65,332]
for x in lst:
    if x %2==0:
        print(x)

2
4
54
32
56
76
332

26. Convert a list of strings to a list of integers.

In [57]:
string_list = ["10", "20", "30", "40", "50"]
integer_list = [int(x) for x in string_list]

print("List of integers:", integer_list)

List of integers: [10, 20, 30, 40, 50]

27. Convert a list of integers to a list of strings.

In [58]:
int_list =[20,35,34,56,78]
str_list =[str(x)for x in int_list]
print(str_list)

['20', '35', '34', '56', '78']

28. Flatten a nested list.

In [60]:
my_list = [[1], [2, 3], [4, 5, 6, 7]]

flat_list = [num for sublist in my_list for num in sublist]
print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

29. Create a list of the first 10 Fibonacci numbers.

In [20]:
def fibonacci_nums(n):
    if n <= 0:
        return [0]
    sequence = [0, 1]
    while len(sequence) <= n:
        next_value = sequence[len(sequence) - 1] + sequence[len(sequence) - 2]
        sequence.append(next_value)
    return sequence
print(fibonacci_nums(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

30. Check if a list is sorted.

In [69]:
test_list = [1, 4, 5, 8, 10]
print ("Original list : " + str(test_list))

flag = 0
i = 1
while i < len(test_list):
    if(test_list[i] < test_list[i - 1]):
        flag = 1
    i += 1
if (not flag) :
    print ("Yes, List is sorted.")
else :
    print ("No, List is not sorted.")

Original list : [1, 4, 5, 8, 10]
Yes, List is sorted.

31. Rotate a list to the left by n positions.

In [75]:
test_list = [1, 4, 6, 7, 2]
print ("Original list : " + str(test_list))
test_list = test_list[2:] + test_list[:2]
print ("List after left rotate by 2 : " + str(test_list))

Original list : [1, 4, 6, 7, 2]
List after left rotate by 2 : [6, 7, 2, 1, 4]

32. Rotate a list to the right by n positions.

In [80]:
test_list = [7,6,3,9,1,4]
test_list = test_list[-3:] + test_list[:-3]
print ("List after right rotate by 3 : " + str(test_list))

List after right rotate by 3 : [9, 1, 4, 7, 6, 3]

33. Create a list of prime numbers up to 50.

In [86]:
print([i for i in range(2, 50) if 0 not in [i%n for n in range(2, i)]])

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size n.

In [ ]:
from itertools import islice
def chunk(arr_range, arr_size):
    arr_range = iter(arr_range)
    return iter(lambda: tuple(islice(arr_range, arr_size)), ())
list(chunk(range(30), 5))

35. Find the second largest number in a list.

In [90]:
lst = [20, 30, 40, 25, 10]  
lst.sort()  
print("The second largest element of the list is:", lst[-2])

The second largest element of the list is: 30

37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [92]:
student_list = ['Ramesh', 'Mahesh', 'Kamlesh', 'Suresh'] 
names_dict = {}
for i, name in enumerate(student_list):
    names_dict[i] = name
print(names_dict)

{0: 'Ramesh', 1: 'Mahesh', 2: 'Kamlesh', 3: 'Suresh'}

38. Shuffle the elements of a list randomly.

In [93]:
import random
l = [0, 1, 2, 3, 4]
random.shuffle(l)
print(l)

[0, 1, 3, 2, 4]

39. Create a list of the first 10 factorial numbers.

In [100]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)
factorial_numbers = [factorial(i) for i in range(10)]
print("List of the first 10 factorial numbers:", factorial_numbers)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [101]:
def common_data(list1, list2):
    result = False
    for x in list1:
        for y in list2:
            if x == y:
                result = True
                return result
    return result
a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
print(common_data(a, b))

a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9]
print(common_data(a, b))

True
False

41. Remove all elements from a list.

In [104]:
lst =[ 1,2,3,4,5,6,7,8,99]
lst.clear()
print("empty list" ,lst)

empty list []

42. Replace negative numbers in a list with 0.

In [106]:
lst =[ 1,-2,3,-4,5,-6,7,-8,-99]
print([0 if i < 0 else i for i in lst])

[1, 0, 3, 0, 5, 0, 7, 0, 0]

43. Convert a string into a list of words.

In [109]:
string1 = "i am rabia naz"
word_list = string1.split()
print(word_list)

['i', 'am', 'rabia', 'naz']

44. Convert a list of words into a string.

In [110]:
word_list = ['i', 'am', 'rabia', 'naz']
my_string =  " ".join(word_list)
print(my_string)

i am rabia naz

45. Create a list of the first n powers of 2.

In [118]:
n = 10
power_list = [2 ** i for i in range(n)]

print("List of the first", n, "powers of 2:", power_list)

List of the first 10 powers of 2: [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

46. Find the longest string in a list of strings.

In [124]:
test_list = ['pwskills','ineuron','datascience','java']

print("The original list : ",(test_list))

x = max(test_list, key = len)

print("Maximum length string is : " + x)

The original list :  ['pwskills', 'ineuron', 'datascience', 'java']
Maximum length string is : datascience

47. Find the shortest string in a list of strings.

In [126]:
test_list = ['pwskills','ineuron','datascience','java']

print("The original list : ",(test_list))

x = min(test_list, key = len)

print("Minimum length string is : " + x)

The original list :  ['pwskills', 'ineuron', 'datascience', 'java']
Minimum length string is : java

48. Create a list of the first n triangular numbers.

In [127]:
def triangular_series(n):
    for i in range(1, n + 1):
        print( i*(i+1)//2,end=' ')
n = 5
triangular_series(n)

1 3 6 10 15

49. Check if a list contains another list as a subsequence.

In [128]:
def check_exists(l, lookup_list):
    check = True
    for i in lookup_list:
        try:
            index = l.index(i) 
            l = l[index+1:]
        except ValueError:
            check = False 
            break 
    return check
l = [1, 2, 4, 3, 5, 7, 5, 3, 8, 3, 8, 5, 8, 5, 9, 5, 7, 5, 7, 4, 9, 7, 5, 7, 
4, 7, 4, 7, 8, 9, 7, 5, 7, 5, 4, 9, 3, 4, 8, 4, 8, 5, 3, 5, 4, 7, 3, 7, 3, 1, 
2, 7, 1, 7, 2, 1]
lookup_list = [2,3,4,5,7,8,9,5,4,3,2,1] 
print(check_exists(l,lookup_list))

True

50. Swap two elements in a list by their indices.

In [130]:
fruits = ["oranges", "grapes", "bananas"]
fruits[0], fruits[2] = fruits[2], fruits[0]
print("\nList of fruits after swap:")
print(fruits)

List of fruits after swap:
['bananas', 'grapes', 'oranges']

# Tuple based practice problem :

1. Create a tuple with integers from 1 to 5.

In [134]:
print(tuple(range(1, 6)))

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [136]:
my_tuple = (1,9,7,6,5,4)
third_element =my_tuple[2]
print("third element is:" ,third_element)

third element is: 7

3. Find the length of a tuple without using the len() function.

In [140]:
my_tuple = (1,9,7,6,5,4)
count = 0
for i in my_tuple:
    count+=1
print("length of tuple is:" ,count)

length of tuple is: 6

4. Count the occurrences of an element in a tuple.

In [146]:
my_tuple =(1, 2, 4, 3, 5, 7, 5, 3, 8, 3, 8, 5, 8, 5, 9, 5, 7, 5, 7, 4, 2, 7, 1, 7, 2, 1)
element_count = 5
count = 0
for i in my_tuple:
    if i == element_count:
        count+=1
print("occurence of element '5':" ,count)

occurence of element '5': 6

5. Find the index of the first occurrence of an element in a tuple.

In [153]:
my_tuple = ("pwskills","ineuron","datascience","javascript")
index = my_tuple.index('ineuron')
print("index of ineuron is :", index)

index of ineuron is : 1

6. Check if an element exists in a tuple.

In [165]:
my_tuple = ("pwskills","ineuron","datascience","javascript")
element_test = 'datascience'
if element_test in my_tuple:
    print("element_test exists in the tuple.")
else:
    print( "element_test does not exist in the tuple.")

element_test exists in the tuple.

7. Convert a tuple to a list.

In [169]:
my_tuple = ("pwskills","ineuron","datascience","javascript")
my_list = list(my_tuple)
print(my_list)

['pwskills', 'ineuron', 'datascience', 'javascript']

8. Convert a list to a tuple.

In [171]:
my_list = ['pwskills', 'ineuron', 'datascience', 'javascript']
my_tuple = tuple(my_list)
print ("list :",my_list)
print("tuple :",my_tuple)

list : ['pwskills', 'ineuron', 'datascience', 'javascript']
tuple : ('pwskills', 'ineuron', 'datascience', 'javascript')

9. Unpack the elements of a tuple into variables.

In [172]:
my_tuple = ("pwskills","ineuron","datascience","javascript")
var1 , var2 , var3 , var4 = my_tuple
print("var1 =" ,var1)
print("var2 =" ,var2)
print("var3 =" ,var3)
print("var4 =" ,var4)

var1 = pwskills
var2 = ineuron
var3 = datascience
var4 = javascript

10. Create a tuple of even numbers from 1 to 10.

In [9]:
my_tuple = range (1,11)
res = [i for i in my_tuple if i %2==0]
my_tup = tuple(res)
print(my_tup)

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [17]:
my_tuple = range (1,10)
res = [i for i in my_tuple if i %2!=0]
my_tup = tuple(res)
print(my_tup)

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [18]:
tuple_1 =(1,2,3,4)
tuple_2 =(5,6,7,8)
concatenated_tuple =tuple_1 +tuple_2
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6, 7, 8)

13. Repeat a tuple three times.

In [19]:
my_tuple =(1, 2, 3, 4, 5, 6, 7, 8)
repeated_tuple = my_tuple*3
print(repeated_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)

14. Check if a tuple is empty.

In [24]:
tuple_1=()
tuple_2 =(1,2,3,4,)
if not tuple_1:
    print("tuple_1 is empty")
else:
    print("tuple_1 is not empty")
if not tuple_2:
    print("tuple_2 is empty")
else:
     print("tuple_2 is not empty")

tuple_1 is empty
tuple_2 is not empty

15. Create a nested tuple.

In [31]:
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))
print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

 Access the first element of a nested tuple.

In [32]:
nested_tuple = ((100, 200, 300), ('apple', 'ball', 'cat'), (True, False))
first_element = nested_tuple[0]
print(first_element)

(100, 200, 300)

17. Create a tuple with a single element.

In [33]:
single_element= (100,)
print("tuple with a single element :",single_element)

tuple with a single element : (100,)

18. Compare two tuples.

In [35]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

print("tuple1 == tuple2:", tuple1 == tuple2)  
print("tuple1 != tuple2:", tuple1 != tuple2)  
print("tuple1 < tuple2:", tuple1 < tuple2)    
print("tuple1 <= tuple2:", tuple1 <= tuple2)
print("tuple1 > tuple2:", tuple1 > tuple2)    
print("tuple1 >= tuple2:", tuple1 >= tuple2)

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

19. Delete a tuple.

In [61]:
my_tuple =(1,2,3,4)
del my_tuple
print(my_tuple)

NameError: name 'my_tuple' is not defined

20. Slice a tuple.

In [50]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8)
slice_tuple = my_tuple[1:4]
print(slice_tuple)

(2, 3, 4)

21. Find the maximum value in a tuple.

In [62]:
my_tuple = (76, 25, 37, 43, 52, 86, 67, 88)
maximum_value = max (my_tuple)
print("maximum value is:",maximum_value)

maximum value is: 88

22. Find the minimum value in a tuple.

In [63]:
my_tuple = (76, 25, 37, 43, 52, 86, 67, 88)
minimum_value = min (my_tuple)
print("minimum value is:",minimum_value)

minimum value is: 25

23. Convert a string to a tuple of characters.

In [64]:
my_string = ("hello i am Rabia")
my_tuple = tuple(my_string)
print(my_tuple)

('h', 'e', 'l', 'l', 'o', ' ', 'i', ' ', 'a', 'm', ' ', 'R', 'a', 'b', 'i', 'a')

24. Convert a tuple of characters to a string.

In [66]:
my_tuple_characters = ('h', 'e', 'l', 'l', 'o', ' ', 'i', ' ', 'a', 'm', ' ', 'R', 'a', 'b', 'i', 'a')
my_string_characters = ''.join (my_tuple_characters)
print(my_string_characters)

hello i am Rabia

25. Create a tuple from multiple data types.

In [68]:
multi_tuple_character =('hello',1,2,'ineuron',True)
print(multi_tuple_character)

('hello', 1, 2, 'ineuron', True)

26. Check if two tuples are identical.

In [72]:
tuple_1 = (1,2,3,4,5)
tuple_2 = (5,4,3,2,1)
tuple_3 = (1,2,3,4,5)
if_identical_1 = tuple_1 == tuple_2
if_identical_2 =tuple_1 == tuple_3
if_identical_3 =tuple_2 == tuple_3
print("tuple_1 and tuple_2 are identicals :" ,if_identical_1)
print("tuple_1 and tuple_3 are identicals :" ,if_identical_2)
print("tuple_2 and tuple_3 are identicals :" ,if_identical_3)

tuple_1 and tuple_2 are identicals : False
tuple_1 and tuple_3 are identicals : True
tuple_2 and tuple_3 are identicals : False

27. Sort the elements of a tuple.

In [7]:
my_tuple = (76, 25, 37, 43, 52, 86, 67, 88)
sorted_element = tuple(sorted (my_tuple))
print(sorted_element)

(25, 37, 43, 52, 67, 76, 86, 88)

28. Convert a tuple of integers to a tuple of strings.

In [10]:
my_integers_tuple = (76, 25, 37, 43, 52, 86, 67, 88)
my_string_tuple = tuple(str(item) for item in my_integers_tuple)
print(my_string_tuple)

('76', '25', '37', '43', '52', '86', '67', '88')

29. Convert a tuple of strings to a tuple of integers.

In [11]:
my_string_tuple = ('76', '25', '37', '43', '52', '86', '67', '88')
my_integers_tuple = tuple(int(item) for item in my_string_tuple)
print(my_integers_tuple)

(76, 25, 37, 43, 52, 86, 67, 88)

30. Merge two tuples.

In [13]:
tuple_1 =(1,2,3,4)
tuple_2 =(7,8,9,2)
merge_tuple = tuple_1+tuple_2
print(merge_tuple)

(1, 2, 3, 4, 7, 8, 9, 2)

31. Flatten a nested tuple.

In [17]:
def flatten_tuples(t):
    for x in t:
        if isinstance(x, tuple):
            yield from flatten_tuples(x)
        else:
            yield x

test_tuple = ((4, 5), ((4, 7), (8, 9), (10, 11)), (((9, 10), (3, 4))))

print("The original tuple : " ,test_tuple)

res = tuple(flatten_tuples(test_tuple))

print("The flattened tuple : " ,res)

The original tuple :  ((4, 5), ((4, 7), (8, 9), (10, 11)), ((9, 10), (3, 4)))
The flattened tuple :  (4, 5, 4, 7, 8, 9, 10, 11, 9, 10, 3, 4)

32. Create a tuple of the first 5 prime numbers.

In [18]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]
prime_numbers_tuple = tuple(prime_numbers_list)
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [22]:
def palindrome(tup):
        return tup == tup[::-1]

palindrome_tuple = (1,2,3,2,1)
non_palindrome_tuple = (1,2,3,1,2,3)

palindrome_1 = palindrome(palindrome_tuple)
palindrome_2 = palindrome(non_palindrome_tuple)

print("palindrome_tuple is a palindrome:", palindrome_1)
print("non_palindrome_tuple is a palindrome:", palindrome_2)

palindrome_tuple is a palindrome: True
non_palindrome_tuple is a palindrome: False

34. Create a tuple of squares of numbers from 1 to 5.

In [23]:
squares_tuple = tuple(x ** 2 for x in range(1, 6))

print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [25]:
original_tuple = (13, 22, 33, 45, 52, 68, 79, 84, 90, 102)
filtered_tuple = tuple(i for i in original_tuple if i % 2 == 0)
print("Filtered tuple:", filtered_tuple)

Filtered tuple: (22, 52, 68, 84, 90, 102)

36. Multiply all elements in a tuple by 2.

In [28]:
my_tuple = (13, 22, 33, 45, 52, 68, 79, 84, 90, 10)
multiply_tuple = tuple(num*2 for num in my_tuple)
print(multiply_tuple)

(26, 44, 66, 90, 104, 136, 158, 168, 180, 20)

37. Create a tuple of random numbers.

In [9]:
import random
random_tuple = tuple(random.randint(1, 10) for _ in range(5)) 
print("Random tuple:", random_tuple)

Random tuple: (4, 5, 8, 7, 1)

38. Check if a tuple is sorted.

In [7]:
t = (1, 2, 3, 4, 5)
print(t == tuple(sorted(t)))

True

altrnate solution for Q38...

In [4]:
t1 = (1,2,3,4,5)
t2 = (1,2,3,1,2,3)
if t1 == tuple(sorted(t1)):
    print("t1 is sorted ")
else:
    print("t1 is not sorted")
if t2 == tuple(sorted(t2)):
    print("t2 is sorted")
else:
    print("t2 is not sorted")

t1 is sorted
t2 is not sorted

39. Rotate a tuple to the left by n positions.

In [7]:
tuple_test = (1, 4, 6, 7, 2)
tuple_test = tuple_test[2:] + tuple_test[:2]
print("rotated tuple left by n position :",tuple_test)

rotated tuple left by n position : (6, 7, 2, 1, 4)

40. Rotate a tuple to the right by n positions.

In [8]:
tuple_test = (3,5,6,2,7,8)
tuple_test = tuple_test[:3] + tuple_test[3:]
print("rotated tuple right by n position :",tuple_test)

rotated tuple left by n position : (3, 5, 6, 2, 7, 8)

41. Create a tuple of the first 5 Fibonacci numbers.

In [1]:
def fabonacci_num(n):
    fibonacci = [0, 1]  
    while len(fibonacci) < n: 
        next_number = fibonacci[-1] + fibonacci[-2] 
        fibonacci.append(next_number)  
    return tuple(fibonacci)  

fibonacci_tuple = fabonacci_num(5)
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [23]:
my_tuple = tuple(input("enter the tuple"))
print(my_tuple)

enter the tuplerabia naz
('r', 'a', 'b', 'i', 'a', ' ', 'n', 'a', 'z')

43. Swap two elements in a tuple.

In [29]:
my_tuple = (2,3,4,5,9,6,7,8,4,1)
index1 = 2
index2 = 4
swapped_tuple = tuple(my_tuple[i] if i not in (index1, index2) else my_tuple[index2] if i == index1
else my_tuple[index1] for i in range(len(my_tuple)))
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (2, 3, 9, 5, 4, 6, 7, 8, 4, 1)

44. Reverse the elements of a tuple.

In [32]:
my_tuple = (2,3,4,5,9,6,7,8,4,1)
reverse_tuple = my_tuple[::-1]
print(reverse_tuple)

(1, 4, 8, 7, 6, 9, 5, 4, 3, 2)

45. Create a tuple of the first n powers of 2.

In [34]:
n = 10
powers_of_2_tuple = tuple(2 ** i for i in range(n))
print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Tuple of the first 10 powers of 2: (1, 2, 4, 8, 16, 32, 64, 128, 256, 512)

46. Find the longest string in a tuple of strings.

In [42]:
str_tup = ("apple","applecidar","custardapple","appyfizz")
longest_str_tup = max(str_tup)
print("longest string in a tuple of strings:",longest_str_tup)

longest string in a tuple of strings: custardapple

47. Find the shortest string in a tuple of strings.

In [43]:
str_tup = ("apple","applecidar","custardapple","appyfizz")
shortest_str_tup = min(str_tup)
print("shortet string in a tuple of strings:",shortest_str_tup)

shortet string in a tuple of strings: apple

48. Create a tuple of the first n triangular numbers.

In [45]:
n = 10
triangular_num_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

print("Tuple of the first", n, "triangular numbers:", triangular_num_tuple)

Tuple of the first 10 triangular numbers: (1, 3, 6, 10, 15, 21, 28, 36, 45, 55)

49. Check if a tuple contains another tuple as a subsequence.

In [47]:
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

sub_tuple = (3, 4, 5)

contains_subseq = contains_subsequence(main_tuple, sub_tuple)

print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

In [76]:
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

sub_tuple = (5, 6, 7)

sub_length = len(sub_tuple)
for i in range(len(main_tuple) == sub_length ):
    print("true")
    if sub_tuple not in main_tuple :
        print("false")

50. Create a tuple of alternating 1s and 0s of length n.

In [78]:
n = 5

alternating_tuple = tuple(i % 2 for i in range(n))

print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0)

# Set based problems:

Create a set with integers from 1 to 5

In [13]:
my_set = set()

my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set.add(4)
my_set.add(5)

print(my_set)

{1, 2, 3, 4, 5}

2. Add an element to a set

In [16]:
my_set = {1, 2, 3, 4, 5} 
element_add = 6
my_set.add(element_add)

print(my_set)

{1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [17]:
my_set = {1, 2, 3, 4, 5} 
remove_element =3
my_set.remove(remove_element)
print(my_set)

{1, 2, 4, 5}

4. Check if an element exists in a set.

In [22]:
my_set = {1, 2, 3, 4, 5}

element_to_check = 4
if element_to_check in my_set:
     print(element_to_check ,"exists in the set")
else:
       print(element_to_check ," does not exist in the set.")

4 exists in the set

5. Find the length of a set without using the len() function

In [29]:
my_set = {1, 2, 3, 4, 5} 
count =0
for i in my_set:
    count+=1
print("length of set is :",count)

length of set is : 5

6. Clear all elements from a set.

In [35]:
my_set = {1, 2, 3, 4, 5} 
print("original set ",my_set)
my_set.clear()
print("clear all element from a set ",my_set)

original set  {1, 2, 3, 4, 5}
clear all element from a set  set()

7. Create a set of even numbers from 1 to 10

In [57]:
even_num_set = set()
for num in range(1,11):
    if num %2 ==0:
        even_num_set.add(num)
print(even_num_set)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10

In [58]:
odd_num_set = set()
for num in range(1,10):
    if num %2 !=0:
        odd_num_set.add(num)
print(odd_num_set)

{1, 3, 5, 7, 9}

9. Find the union of two sets

In [64]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union_result = set1.union(set2)
print("Union of Set 1 and Set 2:", union_result)

Union of Set 1 and Set 2: {1, 2, 3, 4, 5, 6, 7, 8}

10. Find the intersection of two sets

In [66]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 5, 1, 7, 8}
intersection_result = set1.intersection(set2)
print("interection of two sets is :",intersection_result)

interection of two sets is : {1, 3, 5}

11. Find the difference between two sets.

In [68]:
set_1 = {2,3,4,6,9}
set_2 = {9,5,4,6,7}
differences_result =set_1.difference(set_2)
print("difference between two sets is ",differences_result)

difference between two sets is  {2, 3}

 Check if a set is a subset of another set.

In [72]:
set_1 = {2,3,4,6,9}
set_2 = {9,5,4,6,7}
set_3 =  {5,6,7} 
set_4 = {5,6,7,8,9}

subset_test_1 = set_1.issubset(set_2)
subset_test_2 = set_3.issubset(set_4)
print("set_1 is subset of set_2 :",subset_test_1)
print("set_3 is subset of set_4 :",subset_test_2)

set_1 is subset of set_2 : False
set_3 is subset of set_4 : True

Check if a set is a superset of another set.

In [74]:
set_1 ={1,2,3,4,5,6}
set_2 ={2,4}

superset_test = set_1.issuperset(set_2)
print("set_1 is superset of set_2 :",superset_test)

set_1 is superset of set_2 : True

14. Create a set from a list

In [76]:
my_list = [2,3,4,5,6]
my_set = set(my_list)
print(my_set)

{2, 3, 4, 5, 6}

15. Convert a set to a list.

In [80]:
my_set = {3,4,7,8,9}
my_list = list(my_list)
print(my_list)

[2, 3, 4, 5, 6]

16. Remove a random element from a set.

In [84]:
import random
my_set = {3,5,7,8,9}
random_element = random.choice(list(my_set))
my_set.remove(random_element)
print("after removing random element ",random_element,my_set)

after removing random element  7 {3, 5, 8, 9}

17. Pop an element from a set.

In [85]:
my_set = {3,5,7,8,9}
pop_element = my_set.pop()
print(my_set)

{5, 7, 8, 9}

18. Check if two sets have no elements in common.

In [101]:
set_1 ={2,4,6,8,9}
set_2 ={1,3,5,7,0}
common_element_test = set_1.intersection(set_2)
if i in common_element_test:
    print("Two set have common element")
else:
    print("Two set have no common element")

Two set have no common element

19. Find the symmetric difference between two sets.

In [103]:
set_1 = {2,5,6,7,8}
set_2 = {3,4,6,7,8}

symmetric_difference = set_1^set_2
print(symmetric_difference)

{2, 3, 4, 5}

20. Update a set with elements from another set.

In [110]:
set_1 = {2,5,6,7,8}
set_2 = {6,7,8,4,5}

update_set = set_1.update(set_2)
print(set_1)

{2, 4, 5, 6, 7, 8}

21. Create a set of the first 5 prime numbers.

In [111]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
prime_set = set()
num = 2
while len(prime_set) < 5:
    if is_prime(num):
        prime_set.add(num)
    num += 1
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [115]:
set_1 = {1,2,3,4,5}
set_2 = {4,5,2,1,3}

identical_set_test =  set_1==set_2
print("two sets are identical :" ,identical_set_test)

two sets are identical : True

23. Create a frozen set

In [120]:
element = [2,3,4,5,6]

frozen_set =  frozenset(element)
print(frozen_set)

frozenset({2, 3, 4, 5, 6})

24. Check if a set is disjoint with another set.

In [127]:
set_1 = {1,2,3,4,5}
set_2 = {6,7,8,9}

disjoint_test = set_1.isdisjoint(set_2)
print("set_1 is disjoint with set_2 :",disjoint_test)

set_1 is disjoint with set_2 : True

25. Create a set of squares of numbers from 1 to 5.

In [128]:
squares_set = set()
for num in range(1, 6):
    square = num ** 2
    squares_set.add(square)
print(squares_set)

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [130]:
set_1 = {4,6,9,3,8,24,88,56}
print([i for i in set_1 if i %2==0])

[4, 6, 8, 24, 56, 88]

27. Multiply all elements in a set by 2.

In [138]:
original_set ={2,3,4,7,5,6,8}
multiplied_set = set()
for num in original_set:
    multiplied_num = num * 2
    multiplied_set.add(multiplied_num)
print("Original Set:", original_set)
print("Multiplied Set:", multiplied_set)

Original Set: {2, 3, 4, 5, 6, 7, 8}
Multiplied Set: {4, 6, 8, 10, 12, 14, 16}

28. Create a set of random numbers.

In [147]:
import random
random_number_set = set()
for i in range(num_random_numbers):
    random_num = random.randint(1, 100) 
    random_number_set.add(random_num)
print("set of random numbers:", random_number_set)

set of random numbers: {4, 73, 42, 58, 59}

29. Check if a set is empty.

In [148]:
my_set = set()
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

30. Create a nested set (hint: use frozenset)

In [149]:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)
nested_set = {frozen_set1, frozen_set2}
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

31. Remove an element from a set using the discard method.

In [150]:
my_set ={2,3,5,6,7,8}
element_to_remove = 5
my_set.discard(element_to_remove)
print("after deleting",element_to_remove,my_set)

after deleting 5 {2, 3, 6, 7, 8}

32. Compare two sets.

In [153]:
set_1 = {2,4,5,6,7,8}
set_2 = {3,4,5,6,7,9}

intersection_set = set_1.intersection(set_2)
is_union = set_1.union(set_2)
is_difference =set_1.difference(set_2)
is_superset = set_1.issuperset(set_2)

print("intersection of set_1 and set_2 :",intersection_set)
print("union of set_1 and set_2 :",is_union)
print("difference between set_1 and set_2:",is_difference)
print("Is set_1 is subset of set_2:",is_superset)

intersection of set_1 and set_2 : {4, 5, 6, 7}
union of set_1 and set_2 : {2, 3, 4, 5, 6, 7, 8, 9}
difference between set_1 and set_2: {8, 2}
Is set_1 is subset of set_2: False

33. Create a set from a string.

In [154]:
my_string = "rabia","naz"
my_set = set(my_string)
print(my_set)

{'naz', 'rabia'}

34. Convert a set of strings to a set of integers.

In [6]:
my_set_strings = {"123","345","567"}
my_set_integers = set()

for string in my_set_strings:
    integer_value = int(string)
    my_set_integers.add( integer_value)
print(my_set_integers)

{345, 123, 567}

35. Convert a set of integers to a set of strings.

In [8]:
my_integers_set = {123,345,567,789}
my_strings_set = set()

for integer in my_integers_set:
    string_value = str(integer)
    my_strings_set.add(string_value)
print(my_strings_set)

{'123', '567', '789', '345'}

36. Create a set from a tuple.

In [10]:
my_tuple = (1,2,3,4,5)
my_set = set(my_tuple)
print(my_set)

{1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [11]:
my_set = {1, 2, 3, 4, 5}
my_tuple = tuple(my_set)
print(my_tuple)

(1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [26]:
my_set = {16, 62, 83, 94, 75}
max_value = None
for num in my_set:
    if max_value is None or num > max_value :
        max_value = num
print("maximum value in a set:",max_value)

maximum value in a set: 94

39. Find the minimum value in a set.

In [28]:
my_set = {16, 62, 83, 94, 75}
min_value = None
for num in my_set:
    if min_value is None or num< min_value:
        min_value = num
print("minimum value in a set:",min_value)

minimum value in a set: 16

40. Create a set from user input.

In [7]:
user_set = set()
print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ")  
    if user_input.lower() == 'done':
        break  
    user_set.add(user_input)
print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):
Enter elements for the set (type 'done' to finish):
> rabia naz done
> done
Final set: {'rabia naz done'}
Final set: {'rabia naz done'}

41. Check if the intersection of two sets is empty.

In [8]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
intersection_result = set1.intersection(set2)
if not intersection_result:
    print("intersection of two sets is empty.")
else:
    print("intersection of two sets is not empty.")

intersection of two sets is not empty.
intersection of two sets is not empty.

42. Create a set of the first 5 Fibonacci numbers.

In [12]:
fib_set = set()
a, b = 0, 1
for i in range(6):
    fib_set.add(a)
    a, b = b, a + b
print("Set of the first 5 Fibonacci numbers:", fib_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}
Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [13]:
original_list = [1, 4, 6, 8, 4, 10,1, 6, 12, 14, 8]
unique_set = set(original_list)
unique_list = list(unique_set)
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [1, 4, 6, 8, 4, 10, 1, 6, 12, 14, 8]
List with Duplicates Removed: [1, 4, 6, 8, 10, 12, 14]
Original List: [1, 4, 6, 8, 4, 10, 1, 6, 12, 14, 8]
List with Duplicates Removed: [1, 4, 6, 8, 10, 12, 14]

44. Check if two sets have the same elements, regardless of their count

In [38]:
element_1 = {1,2,3,4,5,6}
element_2 = {7,8,9,9}

is_same_element = element_1==element_2
print("two sets have the same elements:",is_same_element)

two sets have the same elements: False
two sets have the same elements: False

45. Create a set of the first n powers of 2

In [39]:
def create_powers_of_2(n):
    powers_of_2 = set()
    for i in range(n):
        power = 2 ** i
        powers_of_2.add(power)
    return powers_of_2
n = 5
powers_set = create_powers_of_2(n)
print(powers_set)

{1, 2, 4, 8, 16}
{1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [40]:
my_set = {1,2,3,4,5,6}
my_list = [1,9,4,6,7,8]

list_to_set = set(my_list)
common_elements = []
for element in my_set:
    if element in list_to_set:
        common_elements.append(element)
print("Common elements:", common_elements)

Common elements: [1, 4, 6]
Common elements: [1, 4, 6]

47. Create a set of the first n triangular numbers.:

In [41]:
def generate_triangular_numbers(n):
    triangular_numbers = set()  
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  
        triangular_numbers.add(triangular_number)  
    return triangular_numbers
n = int(input("Enter the value of n: "))
triangular_set = generate_triangular_numbers(n)
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n: 5
The set of the first 5 triangular numbers is: {1, 3, 6, 10, 15}
The set of the first 5 triangular numbers is: {1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [42]:
set_1 = {1,2,3,4,5,6}
set_2 = {7,8,9,9}

is_subset = set_1.issubset(set_2)
print("set contains another set as a subset:",is_subset)

set contains another set as a subset: False
set contains another set as a subset: False

49. Create a set of alternating 1s and 0s of length n.

In [45]:
def create_alternating_set (n):
    alternating_set = set()
    for i in range (n):
        if i % 2 == 0:
            alternating_set.add(1) 
        else:
            alternating_set.add(0) 
    return alternating_set
length_n = 10
result = create_alternating_set(length_n)
print(result)

{0, 1}
{0, 1}

Merge multiple sets into one.

In [47]:
set_1= {1,2,3,4}
set_2= {4,5,6,7}
set_3= {7,8,9}

merge_set = set_1.union(set_2,set_3)
print(merge_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}